<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yhh.analyser">
    <!--android:sharedUserId="android.uid.system">-->

	<!--<uses-permission android:name="android.permission.RETRIEVE_WINDOW_CONTENT"/>-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme_Light">

        <!-- Main Analyser START -->
        <activity
            android:name="com.yhh.analyser.Main"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Analyser END -->


        <!-- umeng start -->
        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity android:name=".ui.FeedbackActivity"
            android:label="@string/menu_feedback"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55c2c0f867e58e12f5001997" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="69cc8db4e08c5de406a224ffb5967058" />
        <meta-data
            android:name="Channel ID"
            android:value="umeng" />
        <!-- umeng end -->

        <activity
            android:name=".ui.MonitorAppActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_app_analyser"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MonitorSysActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_sys_analyser"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingMonitorActivity"
            android:label="@string/app_monitor_item_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingFloatingActivity"
            android:label="@string/app_floating_item_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingExcptionActivity"
            android:label="@string/app_exception_monitor_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingShellActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" />

        <!-- App Monitor END -->

        <activity
            android:name=".ui.HelpActivity"
            android:label="@string/menu_feedback"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.MyShotActivity"
            android:label="@string/menu_shot"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/menu_about_title"
            android:screenOrientation="portrait"/>

        <!-- Log Analyser START -->
        <activity
            android:name=".ui.ChartLogActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LogViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_log_analyser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LogAnalyActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_log_analyser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LogReaderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/main_log_analyser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LogSleepReaderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/main_log_analyser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.LogSleepStatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_log_analyser"
            android:screenOrientation="portrait" />
        <!-- Log Analyser END -->


        <activity
            android:name=".fragment.StatusDumpsysActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_status_analyser"
            android:screenOrientation="portrait" />

        <!-- Status Analyser START -->


        <!-- Chart Analyser START -->
        <activity
            android:name=".ui.ChartSleepActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/main_log_analyser"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ChartMonitorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!-- Chart Analyser END -->


        <!-- AutoWorker START -->
        <activity
            android:name=".ui.AutoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_automatic_robot"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- AutoWorker END -->

        <activity
            android:name=".ui.BrightnessActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_tool_analyser"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.KernelActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/toolbox_kernel"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.WakeLockActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/toolbox_wakeup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.NodeViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_node_viewer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>


        <!-- Benchmark start -->
        <activity
            android:name=".ui.BenchmarkActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_benchmark"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ChartBenchmarkActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_benchmark"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.settings.BenchmarkSettingsActivity"
            android:label="@string/main_benchmark"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Benchmark end -->


        <!-- Terminal START -->
        <activity
            android:name="com.yhh.terminal.Term"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:icon="@drawable/ic_launcher"
            android:label="@string/application_terminal"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
            <intent-filter>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".TermInternal"
            android:exported="false"
            android:targetActivity="com.yhh.terminal.Term" >
            <intent-filter>
                <action android:name="jackpal.androidterm.private.OPEN_NEW_WINDOW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="jackpal.androidterm.private.SWITCH_WINDOW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.yhh.terminal.RemoteInterface"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="jackpal.androidterm.OPEN_NEW_WINDOW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".TermHere"
            android:exported="true"
            android:label="@string/activity_term_here_title"
            android:targetActivity="com.yhh.terminal.RemoteInterface" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.yhh.terminal.RunScript"
            android:excludeFromRecents="true"
            android:permission="jackpal.androidterm.permission.RUN_SCRIPT" >
            <intent-filter>
                <action android:name="jackpal.androidterm.RUN_SCRIPT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yhh.terminal.TermPreferences"
            android:label="@string/preferences" />
        <activity
            android:name="com.yhh.terminal.WindowList"
            android:label="@string/window_list" />

        <service android:name="com.yhh.terminal.TermService" />

        <service android:name=".service.MonitorService"/>
        <service android:name=".service.LaunchService"/>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" >
        </meta-data>
        <!-- Terminal END -->


    </application>

</manifest>
